<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Genre List</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="../normalize.css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="../skeleton.css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="../main.css" media="screen" charset="utf-8">
</head>
<body>
  <title>Genre results</title>
</head>
<header> <h1> Choose your genre </h1></header> </div>
<body>
  <img class= "gryphon-image" src="/images/gryphonSmall.jpg" alt="gryphon book finder"/>
  </header> </div>
  <a href="results/5"><button>Graphic Novels</button></a> <br>
  <a href="results/4"><button>Philosophy</button></a> <br>
  <a href="results/3"><button>Classics</button></a> <br>
  <a href="results/2"><button>Poetry</button></a> <br>
  <a href="results/1"><button>Science Fiction</button></a> <br>
</body>
</html>
