<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Genre List</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="../normalize.css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="../skeleton.css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="../main.css" media="screen" charset="utf-8">
</head>
<body>
  <title>Genre results</title>
</head>
<header> <h1> choose your genre... </h1></header> </div>
<body>
  <div class="border">
 <!--<img class= "gryphon-image" src="/images/gryphonSmall.jpg" alt="gryphon book finder"/> -->
  </header> </div>
  <a href="results/5"><button class="genre">Graphic Novels</button></a> <br>
  <a href="results/4"><button class="genre">Philosophy</button></a> <br>
  <a href="results/3"><button class="genre">Classics</button></a> <br>
  <a href="results/2"><button class="genre">Poetry</button></a> <br>
  <a href="results/1"><button class="genre">Science Fiction</button></a> <br>
</div>
</body>
</html>
