body {
    background-color: #ffcccc;
    display: flex;
    flex-direction: column;
    align-items: center;

}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  text-align: center;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

h1 {
 color:white;
 margin-left: auto;
 margin-right: auto;
}
.border {
  margin-left: 100px;
}

 button {
 display:flex;
 flex-direction: column;
 align-items: center;
 border: none;
}

a {
  color:#000;
  text-decoration: none;
  size:8rem
}
.border {
  margin-left: 100px;
}

.imagesize {
  height:500px;
  width:350px;
}

.book-img {
  width:90px;
  height:auto;
}
.gryphon-image {
   display:flex;
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.genre {
  padding-top: 20px;
  font-size: 80px;
}

.moreinfo {
  font-size: 1.5rem 
}

.footer {
  font-size: 2rem
}
